# EditorConfig is used to ensure consistent formatting
# across different platforms and IDEs

# This is the top-most EditorConfig file
root = true

[*]
charset = utf-8
end_of_line = lf

insert_final_newline = true
trim_trailing_whitespace = true

# For Python, follow the standard PEP8 style
[*.py]
indent_style = space
indent_size = 4
